


<div class="section-show volunteer-responsive">
    <div class="image-index">
       
    </div>

    <div class="container">

      <div class="volun-show">
        <div class="row clear-row">

          <div class="col-md-6  mx-auto clear-padding clear-row ">
                <div class="left-image">
                    <%= image_tag @volunteer.picture, class:"photo-volunteer" if @volunteer.picture.attached? %>
                </div>
            </div>

            <div class="col-md-6  mx-auto clear-padding clear-row">
                <div class="infor-top">
                  <h1 class="volun-name"><%= @volunteer.name %></h1>
                  <p><%= @volunteer.description %></p>
                </div>
            </div> 
        
        </div>

        <div class="row">
          <div class="show-infor">
            <div class="col-md-6  mx-auto clear-padding clear-row ">
                <div class="left-infor">
                  <h3> My Skill</h3>
                  <p><%= @volunteer.skill %></p>
                  <h5>Leardship</h5>

                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                  <h5>Volunteering</h5>

                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                  
                  
                </div>
            </div>

            <div class="col-md-6  mx-auto">
                <div class="right-infor">
                  <h3>Email</h3>
                  <p><%= @volunteer.email %></p>
              
                  <h3>Experience</h3>
                  <p><%= @volunteer.experience %></p>   
                </div>
            </div>   
          </div>
        
        </div>
          
      </div>
    </div>
</div>