



<h1><%= @volunteer.name %></h1>
<p><%= @volunteer.description %></p>
<h1><%= @volunteer.email %></h1>
<h1><%= @volunteer.skill %></h1>
<h1><%= @volunteer.location %></h1>
<p><%= @volunteer.experience %></p>

<%= link_to 'Post a project now' %>