


<div class="messages-section">

<div class="image-message">

</div>

<div class="container">


  <% if @over_ten %>
    <%= link_to "Show previous", '?m=all', class:'button is-link' %>
  <% end %>

    <div id="messages", class="message-box">
        <h1>conversations</h1>
      <% @messages.each do |message| %>
        <% if message.body %>
       
          <div class="message-body">
            <% user = User.find(message.user_id) %>
            <span class="name"><%= user.email %></span>  <span><%= message.message_time %></span> 
            <p><%= message.body %></p>
          
          </div>
          
        <% end %>
      <% end %>
    </div>

    <div class="message-textarea">
      <%= form_for [@conversation, @message] do |f| %>
        <%= f.text_area :body, class: "textarea", placeholder: "Enter messages here...", class:"textarea-message" %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
        <div >
          <%= f.submit "Send Message", class:"message-button"%>
        </div>

      <% end %>

    </div>


  

</div>

</div>









