<div class="conversation-section">

  <div class="conversation-image">

  </div>

  <div class="container">

   <h3 class="conversation-title">Conversations Listing</h3>

   <div class="content">
    <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>

          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <% unless current_user.id == recipient %>
            <div class="user-information">
                <% if current_user.user_type='organization' %>
                  <h4>User Email</h4>
                  <span class="email"><%=recipient.email %></span>
                  <%= link_to "Details", conversation_messages_path(conversation),class:"conver-link" %>
                  <%= link_to "Delete", conversation_path(conversation),method: :delete ,class:"conver-link2"%>
                <% elsif current_use.user_type='donor'%>
                  <h4>Organization title</h4>
                  <span class="title"><%=recipient.organization.title %></span>
                  <%= link_to "Details", conversation_messages_path(conversation),class:"conver-link" %>
                  <%= link_to "Delete", conversation_path(conversation),method: :delete ,class:"conver-link2"%>
                <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
   
   </div>

  </div>
</div>










