<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

<div class="home">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "home-bg-1.jpg", alt: "home-bg-1.jpg", class:"home_bg" %>
        <div class="carousel-caption">
          <span class="top-text">Help The</span> <br>
          <span><span class="yellow">Children</span> In Need</span>
          <p>Even the smallest of donations can help change a life</p>
          <%= link_to 'View More', charity_path(id:"12"), class: "donate-button1" %>
        </div>
      </div>
      <div class="item">
        <%= image_tag "home-bg-3.jpg", alt: "home-bg-4.jpg", class:"home_bg" %>
        <div class="carousel-caption">
        <span class="top-text">Help The</span> <br>
          <span><span class="yellow">Elephants</span> In Need</span>
          <p>Even the smallest of donations can help change a life</p>
           <%= link_to 'View More', charity_path(id:"20"), class: "donate-button1" %>
        </div>
      </div>
      <div class="item">
        <%= image_tag "home-bg-4.jpg", alt: "home-bg-2.jpg", class:"home_bg"%>
        <div class="carousel-caption">
        <span class="top-text">Help The</span> <br>
          <span><span class="yellow">Rhino</span> In Need</span>
          <p>Even the smallest of donations can help change a life</p>
           <%= link_to 'View More', charity_path(id:"11"), class: "donate-button1" %>
        </div>
      </div>
      <div class="item">
        <%= image_tag "home-bg-2.jpg", alt: "home-bg-3.jpg", class:"home_bg"%>
        <div class="carousel-caption">
        <span class="top-text">Help The</span> <br>
          <span><span class="yellow">Children</span> In Need</span>
          <p>Even the smallest of donations can help change a life</p>
           <%= link_to 'View More', charity_path(id:"16"), class: "donate-button1" %>
        </div>
      </div>
    
    </div>

  </div>


   <div class="number-counter">
     <div class="middle">
      <div class="counting-sec">
        <div class="inner-width">
        
          <div class="col">
            
            <div class="num">10</div>
            <h4>years</h4>
          </div>

          <div class="col">
           
            <div class="num">44,4957</div>
            <h4>dollars</h4>
          </div>

          <div class="col">
            
            <div class="num">56,638</div>
            <h4>donors</h4>
          </div>

          <div class="col">
            <div class="num">24,174</div>
            <h4>Proejcts</h4>
          </div>

          <div class="col">
            <div class="num">32</div>
            <h4>countries</h4>
          </div>
          <div class="col">
            <div class="num">68</div>
            <h4>organizations</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
   


  <div class="aboutUs">
    <div class="container">

      <div class="title-infor">
        <h2>Who We Are</h2>
        <h3>GoodGiving connects nonprofits, donors, and companies in nearly every country around the world. We help local nonprofits access the funding, tools, training, and support they need to become more effective.</h3>
      </div>

      <div class="infor-box">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mx-auto">
              <div class="box1">
                
              </div>

              <div class="box-infor">
                <div class="desc">
                  <p>Nonprofits around the world apply and join GlobalGiving to access more funding, to build new skills, and to make important connections.</p>
                </div>
                
                <%= link_to 'Volunteer', user_session_path,class:"signIn" %>
              </div>
              
            </div>
            <div class="col-md-4 mx-auto">
              <div class="box2">
              
              </div>
              <div class="box-infor">
                <div class="desc">
                 <p>People like you give what you can to your favorite projects; you feel great when you get updates about how your money is put to work by trusted organizations.</p>
                </div>
                <%= link_to 'Donor', user_session_path,class:"signIn" %>
              </div>
            
            </div>
            <div class="col-md-4 mx-auto box3">
              <div class="box3">
              
              </div>
              <div class="box-infor">
                <div class="desc">
                <p>Generous organizations and their employees further support high-impact projects, helping local communities thrive.</p>
                </div>
                <%= link_to 'Organization', user_session_path,class:"signIn" %>
              </div>
            
            </div>
          </div>
        </div> 
      </div>
      
    </div>
  </div>


  <div class="projects">
    <div class="row ">
      <div class="col-md-4  mx-auto clear-padding-col clear-padding-row">
        <div class="project-one clear-col">
            <h1>Today is the day to  <br>
            reach out and lend a  <br>
            helping hand</h1>
            <%= link_to 'View More', charity_path(id:"4"), class: "donate-button2" %>
        </div>
      </div>
      <div class="col-md-4  mx-auto clear-col">
      <div class="project-two">
            <h1>Even the smallest of<br> donations can help change a life</h1>
            <%= link_to 'View More', charity_path(id:"5"), class: "donate-button2" %>
        </div>
      
      </div>
      <div class="col-md-4  mx-auto clear-col">
        <div class="project-three">
            <h1>Become a volunteer. You’ll feel the <br>benefits instantly</h1>
            <%= link_to 'View More', charity_path(id:"13"), class: "donate-button2" %>
        </div>

      </div>
    </div>
  </div>




 


</div>



<script type="text/javascript">
    $(".num").counterUp({delay:10,time:8000});
  </script>


