<h1>Projects listings</h1>

<ul class="nav nav-pills">
  <li>
    <%= form_tag charities_listings_path, :method=>'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "search" %>
    <% end %>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      COUNTRY <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'India', charities_listings_path(location:"India") %></li>
      <li><%= link_to 'Kenya', charities_listings_path(location:"Kenya") %></li>
      <li><%= link_to 'Nepal', charities_listings_path(location:"Nepal") %></li>
      <li><%= link_to 'Mexico', charities_listings_path(location:"Mexico") %></li>
     
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      THEME <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Women and Girls', charities_listings_path(category: Category.find(1)) %></li>
      <li><%= link_to 'Education', charities_listings_path(category: Category.find(2)) %></li>
      <li><%= link_to 'Health', charities_listings_path(category: Category.find(3)) %></li>
      <li><%= link_to 'Environment', charities_listings_path(category: Category.find(4)) %></li>
      <li><%= link_to 'Hunger', charities_listings_path(category: Category.find(5)) %></li>
      <li><%= link_to 'Economic Development', charities_listings_path(category: Category.find(6)) %></li>
    </ul>
  </li>


</ul>
  <section>
		<div class="container">
     <div class="row">
        <% @charities.each do |charity| %>
              <div class="col-md-4  mx-auto">
                <% charity.pictures.each do |picture| %>
                    <%= image_tag picture, class:"show-image", class:"index-picture" %>
                    <% break %>
                <% end %>
           
                <div clas="infor">

                  <h1><%= charity.category.title%></h1>
                  <h3><%= charity.title %></h3>
                  <p><%= charity.summary %></p>

                  <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="sr-only">30% Complete (warning)</span>
                    </div>
                  </div>
                  <h3>Raised: $<%= charity.current_raised %></h3>
                  <h3>Raised: $<%= charity.raised_goal %></h3>
                  <%= link_to 'Edit', edit_charity_path(charity) %>
                  <%= link_to 'Delete', charity_path(charity), method: :delete %>
                </div>    
              </div>
          
          <%end%>
       </div>
		</div>
	</section>
 


