

<h1><%= @charity.title %></h1>
<% @charity.pictures.each do |picture| %>
    <%= image_tag picture, class:"show-image", class:"picture" %>
<% end %>
<p><%= @charity.location %></p>
<h1><%= @charity.project_leader %></h1>
<h1><%= @charity.raised_goal %></h1>
<h1><%= @charity.current_raised %></h1>
<h6><%= @charity.summary %></h6>
<h4><%= @charity.challenges %></h4>
<h4><%= @charity.solution %></h4>





<h1>Organization Information</h1>
<h1><%=@charity.organization.title %></h1>
<p><%=@charity.organization.description %></p>
<h1><%=@charity.organization.website %></h1>
<h1><%=@charity.organization.location %></h1>

<%= button_to "Message #{@charity.organization.title}" %>



<h2> Donate from $<%= @charity.donate_basic %> Now</h2>
<%= button_to 'Add to cart', line_items_path(charity_id: @charity), class: 'button is-warning add-to-cart' %>
   

   



