

<h1><%= @charity.title %></h1>
<% @charity.pictures.each do |picture| %>
    <%= image_tag picture, class:"show-image", class:"picture" %>
<% end %>
<p><%= @charity.location %></p>
<h1><%= @charity.project_leader %></h1>
<h1><%= @charity.raised_goal %></h1>
<h1><%= @charity.current_raised %></h1>
<h6><%= @charity.summary %></h6>
<h4><%= @charity.challenges %></h4>
<h4><%= @charity.solution %></h4>





<h1>Organization Information</h1>
<h1><%=@charity.organization.title %></h1>
<p><%=@charity.organization.description %></p>
<h1><%=@charity.organization.website %></h1>
<h1><%=@charity.organization.location %></h1>

    
<% if user_signed_in? && current_user.id != @charity.organization.user_id %>
    <%= link_to "Message #{@charity.organization.title}", conversations_path(sender_id: current_user.id, recipient_id: @charity.organization.user_id), method: 'post', class:"button is-link" %>
<% elsif user_signed_in? && current_user.id == @charity.organization.user_id  %>
    <%= link_to "Conversations", conversations_path %>
<% else %>
    <%= link_to "Sign up to message #{@chairty.organization.title}", new_user_registration_path %>
<% end %>




<h2> Donate from $<%= @charity.donate_basic %> Now</h2>
<%= button_to 'Add to cart', line_items_path(charity_id: @charity), class: 'button is-warning add-to-cart' %>
   

   



