

<h1><%= @charity.title %></h1>
<p><%= @charity.location %></p>
<h1><%= @charity.project_leader %></h1>
<h1><%= @charity.raised_goal %></h1>
<h1><%= @charity.current_raised %></h1>
<h6><%= @charity.summary %></h6>
<h6><%= @charity.challenges %></h6>
<h6><%= @charity.solution %></h6>
