


<div class="charity-show">

    <div class="show-image">
    
    </div>

    <div class="container">

     <h2 calss='chairty-title'><%= @charity.title %></h2>
     <h4 class="leader">Organizaed  by <%= @charity.project_leader %></h4>
        <div class="row">
            <div class="col-md-8 mx-auto clear-col">
                <% @charity.pictures.each do |picture| %>
                    <%= image_tag picture, class:"listing-picture" %>
                    <% break %>
                <% end %>

            </div>
            <div class="col-md-4 mx-auto clear-col">

                <div class="donate-box">
                    <%= button_to 'Donate Now', line_items_path(charity_id: @charity), class: 'add-cart is-warning add-to-cart' %> 
                 
                    <%= button_to 'Add to cart', line_items_path(charity_id: @charity), class: 'add-cart is-warning add-to-cart' %>

                    <% if user_signed_in? && current_user.id != @charity.organization.user_id %>
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                        <%= link_to "Messages", conversations_path(sender_id: current_user.id, recipient_id: @charity.organization.user_id), method: 'post', class:"message-button is-link" %>
                    <% elsif user_signed_in? && current_user.id == @charity.organization.user_id  %>
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                        <%= link_to "Messages", conversations_path, class:"message-button2" %>
                    <% else %>
                        <%= link_to "Messages", user_session_path, class:"message-button2" %>
                    <% end %>
                </div>
                
                 <div class="organization">
                    <h4>Organization Information</h4>
                    <h3 class="org-title"><%=@charity.organization.title %></h3>
                    <p><%=@charity.organization.description %></p>
                 
                    <h3 class="location"><%=@charity.organization.location %></h3>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-8 mx-auto clear-col">
            
                

                <div class="information-charity">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="min-width: 1em; width: <%=((@charity.current_raised).to_f/(@charity.raised_goal).to_f) *100.0%>%;">
                        
                        </div>
                    </div>
                     <div class="raised-top">
                        <span>Raised: $ <span class="raised-number"><%= @charity.current_raised %></span></span>
                        <span>Goal: $ <span class="raised-number"> <%= @charity.raised_goal %></span></span>
                      </div>
                    <h2>summary</h2>
                    <h4><%= @charity.summary %></h4>
                    <h2>Challenges</h2>
                    <h4><%= @charity.challenges %></h4>
                    <h2>Solution</h2>
                    <h4><%= @charity.solution %></h4>
                </div>

            </div>  

            <div class="lasted-projects">
                <h2 calss="lasted">The Laste Projects</h2>
                <% @charities.each do |charity| %>
                    <div class="col-md-4  col-sm-auto listing-row">
                        <% charity.pictures.each do |picture| %>
                            <%= image_tag picture, class:"listing-picture2" %>
                            <% break %>
                        <% end %>
                        <div class="project-infor">
                            <div class="title-top2">
                                <h3 class="category"><%= charity.category.title %></h3>
                                <h3><%= link_to charity.title , charity_path(charity), class:"title" %></h3>
                            </div>

                            <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="min-width: 1em; width: <%=((charity.current_raised).to_f/(charity.raised_goal).to_f) *100.0%>%;">
                                
                            </div>
                            </div>
                            
                    
                            <div class="raised">
                                <span>Raised: $ <span class="raised-number"><%= charity.current_raised %></span></span>
                                <span>Goal: $ <span class="raised-number"> <%= charity.raised_goal %></span></span>
                            </div>

                        </div>    
                    </div> 
                    <%end%>

            
            </div>


        </div>
    
    </div>


</div>




















    

   




