


<div class="cart-show">

  <div class="cart-image">
  
  </div>

    <div class="container">

      <div class="keep-donate">
        <%= link_to 'Keep Donating', charities_listings_path,class:"keep-button" %>

      </div>
      <hr>

      <div class="items">
       <%= render(@cart.line_items) %> <br>
      </div>

      <div class="payment">
        <div class="col-md-6">
          <%= button_to 'Empty Donating Listing', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "empty-button" %>
        </div>

        <div class="col-md-6">
          <div class="pay">
            <span class="total-price">Total: <%= number_to_currency(@cart.total_price) %></span>
            <button data-stripe="payment" class="payment-button">Go to Pay</button>
          </div>
         
        </div>
       

      </div>

     

      
    
    
    </div>


</div>





    <script src="https://js.stripe.com/v3/"></script>

    <script>
      document
        .querySelector("[data-stripe='payment']")
        .addEventListener("click", () => {
          const stripe = Stripe(
            "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
          );

          stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
          });
        });
    </script>
