

<%=render 'errors/error', obj: @organization%>
<div class="section-oregination">
  <div class="row ">
    <div class="col-md-6  mx-auto clear-padding-col clear-padding-row">
      <div class="image-oregination">  

      </div>
 
    </div>
    <div class="col-md-6  mx-auto clear-col">
      <div class="vlounteer-oregi">
        <h2>Join us!</h2>
        
        <h3>We’ve partnered with nonprofits in 170 countries who work on the ground and post the projects that their communities really need. Want to post your project?</h3>

        <%= form_with(model: @organization, local: true) do |form| %>
         
            <div class="form-group">
                <%= form.label :'community Title' , class:'volun-lable'%><br />
                <%= form.text_field :title, autofocus: true, autocomplete: "Title",class:"form-control", placeholder:"Please enter a title(max 50 words)" %>
            </div>

            <div class="field">
                <%= form.label :Description , class:'volun-lable'%><br />
                <%= form.text_area :description, autofocus: true, autocomplete: "Description",class:"form-control",placeholder:"Please enter description(min 50 words)"  %>
            </div>

            <div class="form-group">
                <%= form.label :Website , class:'volun-lable'%><br />
                <%= form.text_area :website, autofocus: true, autocomplete: "Website",class:"form-control",placeholder:"Please enter your website URL"  %>
            </div>

            <div class="form-group">
              <%= form.label :Location , class:'volun-lable'%><br />
                <%= form.text_field :location, autofocus: true, autocomplete: "Location",class:"form-control",placeholder:"Please enter your location" %>
            </div>
            

            <div>
                <%= form.submit "Submit",class:'oreganization-submit' %>
            </div>

        <% end %>

      </div>
    </div>    
  </div>
</div>




