




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Good Giving', root_path, class:"navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
        <li><%= link_to 'Explore Projects', charities_listings_path %></li>
        <li><%= link_to 'Meet Our Volunteers', volunteers_listings_path %></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">

        <li>
          <% if total_cart_items %>
            <%= link_to cart_path(@cart), class:"navbar-item button is-warning" do %>
            <span class="icon is-small">
              <i class="fa fa-shopping-cart"></i>
            </span>
            <span>Cart
              <%= cart_count_over_one %>
            </span>
            <% end %>
          <% end %>
        </li>
        
    
      <% if user_signed_in? && current_user.user_type=="organization" %>
       
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome Back !<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Post a Project", new_charity_path%> </li> 
             <li role="separator" class="divider"></li>
            <li><%= link_to "All Projects", charities_path%> </li>
             <li role="separator" class="divider"></li> 
            <li><%= link_to "Profile", organizations_path %> </li> 
        
          </ul>
        </li>
        <li> <%= link_to "Messages", conversations_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li> 
        

      <% elsif user_signed_in? && current_user.user_type=="volunteer"  %>
          <% if  current_user.volunteer !=nil && current_user.volunteer.name !=nil %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Profile<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Show your Profile", volunteer_path(current_user.volunteer)%> </li> 
                <li role="separator" class="divider"></li>
                <li><%= link_to "Edit your Profile", edit_volunteer_path(current_user.volunteer)%> </li>
                
              </ul>
            </li>
            <li><%= link_to "Sign_out", destroy_user_session_path, method: :delete %> </li> 

            <% else %>
            <li><%= link_to "profile", volunteers_path %> </li>
            <li><%= link_to "Sign_out", destroy_user_session_path, method: :delete %> </li> 

            

            <% end %>
      <% elsif user_signed_in? && current_user.user_type=="donor" ||user_signed_in? && current_user.admin?  %>
        
        <li> <%= link_to "Messages", conversations_path %></li>
        <li><%= link_to "Sign_out", destroy_user_session_path, method: :delete %> </li> 
      <% else%>
        <li><%= link_to 'Sign_in', user_session_path %></li>
        <li><%= link_to "Sign_up", new_user_registration_path %> </li> 
       
      <% end %>
    
      </ul>
    </div>
  </div>
</nav>


